:root {
  --background: #eff1f4;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
}
[data-theme="dark"] {
  --background: #2d3748;
  --block-bg: #39455b;
  --text-primary: #ffffff;
  --text-secondary: #a0aec0;
  --header-bg: url(assets/img/bg.webp);
  --image-overlay: linear-gradient(
    0deg,
    #2d3748 0%,
    rgba(45, 55, 72, 0.5) 100%
  );
  --nav-link-hover: rgba(37, 207, 88, 0.116);
  --animal-icon: invert(1);
}

[data-theme="light"] {
  --background: #eff1f4;
  --block-bg: #ffffff;
  --text-primary: #000000;
  --text-secondary: rgb(17, 16, 16);
  --header-bg: url(assets/img/bg_header-light.jpg);
  --image-overlay: linear-gradient(
    0deg,
    #eff1f4 0,
    rgba(239, 241, 244, 0.75) 100%
  );
  --nav-link-hover: rgba(37, 207, 88, 0.116);
  --animal-icon: invert(0);
}
